/* 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 달력 몸통 */
.react-calendar {
  min-width: 550px;
  border-radius: 20px;
  border: 3px solid #afa4ce;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 75px;
  height: 760px;
  overflow-y: auto !important;
  position: relative;
}

/* 달력 내부 스타일 */
.react-calendar__month-view {
  min-height: 420px !important;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 620px;
  overflow-y: auto !important;
  position: relative;
}

.react-calendar__month-view__days {
  margin-top: 10px;
  overflow-y: auto;
}

/* 오버레이 스타일 */
.react-calendar::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.calendar-container {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

/* 달력 상단 */
.react-calendar__navigation {
  background-color: #e6e6fa;
  border-bottom: 4px solid #afa4ce;
  height: 80px;
  border-radius: 17px 17px 0 0;
  z-index:100;
}

.react-calendar__navigation span {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: red;
}

/* 달력 안쪽 여백 */
.react-calendar__month-view {
  padding: 25px 30px;
}

.react-calendar__month-view__days {
  margin-top: 10px;
  height: 450px;
}

/* 날짜별 칸 스타일 */
.react-calendar__tile {
  text-align: center;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 10px !important;
}

/* 날짜 클릭했을 때 칸 색상 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background-color: rgba(215, 175, 211, 0.3);
  border-radius: 14px;
}

/* 요일 색상 및 크기 */
.react-calendar__month-view__weekdays abbr {
  font-size: 20px;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr,
.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
  color: red !important;
}

/* 스티커 스타일 */
.dot-img,
.dot {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.dot img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: auto;
}

/* 미디어 쿼리 반응형 */
@media screen and (min-width: 768px) {
  .react-calendar {
    min-width: 62%;
    max-width: 900px;
  }
  .react-calendar__navigation {
    height: 100px !important;
  }
  .react-calendar__navigation span {
    font-size: 32px;
  }
  .react-calendar__navigation__next-button,
  .react-calendar__navigation__prev-button {
    font-size: 40px;
  }
}

/* 더 큰 화면을 위한 미디어 쿼리 */
@media screen and (min-width: 1024px) {
  .react-calendar {
    min-width: 50%;
  }
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
  .react-calendar {
    background-color: #333;
    color: white;
  }
}
